body {
    margin-right: 300px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    background-image: url(./opoy7.jpg);
    background-size: 100%;
    word-spacing: 7px;
    line-height: 25px; 
}

    h3 {
        font-size: 18px;
        line-height: normal;
    }
      
      
